<div class="card">
  <div class="card-header">
    <div class="float-left">
      <h4>Nova Pessoa</h4>
    </div>
    <div class="float-right">
      <button type="submit" class="btn btn-primary" (click)="onSubmit()">Salvar</button>
      {{' '}}
      <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancelar</button>
    </div>
  </div>
</div>
<form class="needs-validation" novalidate [formGroup]="form" style="padding-top: 10px; padding-left: 20px">
  <div class="form-row">
    <div class="col-sm-10">
      <label for="nome">Nome</label>
      <input type="text" class="form-control" id="nome" placeholder="Nome" formControlName="nome"
        [ngClass]="{'is-invalid': submitted && hasError('nome')}" />
      <div class="invalid-feedback" *ngIf="hasError('nome') && hasError('nome')['required']">
        Por favor informe um nome.
      </div>
    </div>
    <div class="col-sm-10">
      <label for="street">Rua</label>
      <input type="text" class="form-control" id="street" placeholder="Rua" formControlName="street" />
    </div>
    <div class="col-sm-3">
      <label for="number">Número</label>
      <input type="text" class="form-control" id="number" placeholder="Número" formControlName="number" />
    </div>
    <div class="col-sm-3">
      <label for="bairro">Bairro</label>
      <input type="text" class="form-control" id="bairro" placeholder="Bairro" formControlName="bairro" />
    </div>
    <div class="col-sm-3">
      <label for="cidade">Cidade</label>
      <input type="text" class="form-control" id="cidade" placeholder="Cidade" formControlName="cidade" />
    </div>
    <div class="col-sm-1">
      <label for="state">UF</label>
      <input type="text" class="form-control" id="state" placeholder="UF" formControlName="state" />
    </div>
    <div class="col-sm-3">
      <label for="celefone">Celular</label>
      <input type="text" class="form-control" id="celefone" placeholder="Celular" formControlName="celefone" />
    </div>
    <div class="col-sm-3">
      <label for="telefone">Telefone</label>
      <input type="text" class="form-control" id="telefone" placeholder="Telefone" formControlName="telefone" />
    </div>
  </div>
</form>